<link rel="stylesheet" href="/components/header/header.css"></link>
<link rel="stylesheet" href="/components/header/header.css"></link>

<div>
    <div class="header-box-left">
        
    </div>

    <div class="header-box-right">

    </div>
</div>