<link rel="stylesheet" href="/components/main.css"></link>
<link rel="stylesheet" href="/components/header/header.css"></link>
<link rel="stylesheet" href="/components/header/dropdown.css"></link>

<div class="header-container">
    <div class="header-box-left">
        <a href="/" id="header-logo">
            <img src="/img/chessnovum.png">
        </a>
        <a href="#">Freunde</a>
        <a href="/play">Spielen</a>
    </div>
    <div class="header-box-right dropdown">
        <button>
            <img src="/img/svg/account.svg" id="header-profile">
        </button>
        <div class="dropdown-content">
            <% if (username === null) { %>
                <a href="/auth/register">Registrieren</a>
                <a href="/auth/login">Login</a>
            <% } else { %>
                <a href="/profile/@<%= username %>">Profile</a>
                <a href="javascript:void(0);" onclick="logout()">Logout</a>
            <% } %>
        </div>
    </div>
</div>

<script>
    function logout(){
        fetch('/auth/logout', {method: 'DELETE'}).then(response => {
            if (!response.ok) {
                throw new Error(`Fehler: ${response.status}`);
            }
        }).then(() => {
            location.reload();
        }).catch(error => {
            alert('Fehler beim aus loggen: ' + error);
        });
        
        
        
        /*
        .catch(error => {
            alert('Fehler beim aus loggen: ' + error)
        });*/
    }
</script>