<link rel="stylesheet" href="/components/main.css"></link>
<link rel="stylesheet" href="/components/header/header.css"></link>

<div class="header-container">
    <div class="header-box-left">
        <a href="/" id="header-logo">
            <img src="/img/chessnovum.png">
        </a>
        <a href="#">Freunde</a>
        <a href="/play">Spielen</a>
    </div>
    <div class="header-box-right">
        <button>
            <img src="/img/svg/account.svg" id="header-profile">
        </button>
    </div>
</div>