.black-3c85d{
    background-color: #7999B2 !important;
    color: #C5D0D6 !important;
}
.white-1e1d7{
    background-color: #C5D0D6 !important;
    color: #7999B2 !important;
}
.board-b72b1{
    border: none;
}
