.endcard{
    width: 200px;
    height: 300px;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-radius: 15px;

    display: none;
}

.close-endcard{
    background-image: url('/img/svg/close-l.svg');
    background-size: cover;

    width: 15px;
    height: 15px;

    position: absolute;
    right: 0.8rem;
    top: 0.8rem;

    cursor: pointer;

    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#game-end-subtitle{
    margin-top: 1rem;
}