body{
    background-color: #E7E7E7;
}

.main-content{
    display: flex;
    justify-content: center;

    padding: 3rem;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;

    background-color: white;
    border-radius: 1rem;
    margin-left: 1rem;

    width: 220px;
}