#searchGame-button{
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
}

.title{
    margin-bottom: 1rem;
}

.chat-box{
    flex-grow: 1;
}

.menu-button{
    color: white;
    background-color: #7999B2;
    border: none;
    border-radius: 0.5rem;
    
    cursor: pointer;
}

.skip-button{
    width: 2.8rem;
    height: 2rem;
}

.game-info{
    color: grey;
}

#game-controller{
    display: none;
}