<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.7.4/dist/socket.io.min.js"></script>
</head>
<body>
    <script>
        const socket = io();
    </script>


    <!--<script src="/game/js/main.js" type="module"></script>-->
</body>
</html>