.dropdown-content {
    display: none;
    z-index: 99;

    right: 0px;
    top: 0px;
}

.dropdown-content a{
    text-decoration: none;
    color: black;
    font-weight: bold;

    margin-left: 1rem;
    padding-block: 1rem;
}

.dropdown:hover .dropdown-content {
    display: flex;
    align-items: center;
}

.dropdown:hover .dropdown-content a{
    animation-delay: 0.02s;
    animation: fadeIn 0.7s ease forwards;
}
.dropdown:hover .dropdown-content a:nth-child(1){
    animation-name: delay, fadeIn;
    animation-duration: 0.1s, 0.7s;
    animation-delay: 0s, 0.1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes delay{
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
