.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box-left{
    display: flex;
    align-items: center;
}

#header-logo img{
    height: 2rem;
    padding: 1rem;
}

.header-box-left a{
    text-decoration: none;
    color: black;
    margin-right: 1rem;
    font-weight: bold;
}

.header-box-right button{
    background: rgba(0, 0, 0, 0);
    border: none;
}

#header-profile{
    height: 2rem;
    padding: 1rem;
}